.container{
    background-color: rgb(216,16,86);
    color: white;
    .navig {
        width: min(100vw,90%);
        height: 50px;
        display: flex;
        justify-content: space-between;

        div {
            display: flex; align-items: center; justify-content: center;
            padding: 5px;
            gap: 50px;
        }

        .gauche {
            text-transform: uppercase;
            font-weight: bold;
            &.desktop {
                div:hover {
                    text-decoration: underline;
                    text-underline-offset: 8px;
                }
                @media screen and (max-width:700px) {
                    display: none;
                }
            }
            &.mobile {
                position: relative;
                z-index: 10;
                div {
                    gap: 0; 
                }
                img[alt="menu-burger"] {
                    height: 30px;
                    width: 40px;
                    margin-right: 10px;
                }
                .menuOpened {
                    display: flex; flex-direction: column;
                    background-color: rgb(216,16,86);
                    text-align: center;
                    border-radius: 10px;
                    position: absolute;
                    top: 0; left: 0;
                    div:hover {
                        background-color: white;
                        color: rgb(216,16,86);
                    }
                }
                @media screen and (min-width: 701px) {
                    display: none;
                }
            }
        }
        .droite {
            font-size: 18px;
            gap: 0;
            div {
                gap: 5px;
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                    border-radius: 4px;
                }
            }
            img[alt='icons'] {
                height: 30px;
                width: 30px;
                margin: 0;
                z-index: 1;
            }
            .cart {
                position: relative;
                .panierLength{
                    background-color: white;
                    color: rgb(216,16,86);
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    width: 20px; height: 20px;
                    position: absolute;
                    top: -7px;
                    left: 5px;
                    z-index: 0;
                }   
            }
        }
    }
}
em {
    font-style: normal;
    @media screen and (max-width:700px) {
        display: none;
    }
}