.container {
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 530px);
    font-size: 18px;
    background-image: url('/assets/fonds/fond-graphique-pink.jpg');
    background-repeat: repeat;
    background-size: contain;

    .contact {
        background-color: white;
        width: min(100vw, 1200px);
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;

        .speech {
            box-sizing: border-box;
            width: 100%;
            margin: auto;
            font-size: 23px;
            padding: 20px 10px;
        }

        form {
            width: 60%;
            box-sizing: border-box;
            padding: 20px;
            @media screen and (max-width:700px) {
                padding: 10px;
                width: 100%;
            }
            input:not([type="checkbox"]), textarea {
                all: unset;
                background-color: rgba(31,28,28,0.1);
                color: #1f1c1c;
                border-radius: 4px;
                padding: 5px 10px;
            }
            input[type="checkbox"]{
                accent-color: #363333;
            }
            input:not([type="checkbox"]) {
                width: 60%;
            }
            textarea {
                width: 100%;
                height: 150px;
                margin-top: 5px;
                overflow-y: scroll;
                scrollbar-width: none;
                &::placeholder {
                    color: #1f1c1c;
                }
            }
            .rubrik {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 5px 0;
            }
            .asterix{
                font-style: italic;
                font-size: 15px;
                @media screen and (max-width:700px) {
                    font-size: 12px;
                }
            }
            .acceptTerms {
                @media screen and (max-width:700px) {
                    font-size: 12px;
                }
            }
            .send  {
                margin-top: 10px;
                width: 100%;
                button {
                    all: unset;
                    color: white;
                    background-color: #363333;
                    display: flex;
                    align-items: center;
                    border: 1px solid  rgba(38,28,28,0.1);
                    border-radius: 4px;
                    padding: 5px;
                    margin: auto;
                    &:hover:not(.invalid) {
                        font-weight: 600;
                    }
                    &.invalid {
                        background-color: rgba(38,28,28,0.1);
                        color: #1f1c1c;
                        color: #534c4c;
                    }
                }
                img[alt='send'] {
                    height: 30px;
                    margin-left: 10px;
                }
            }
            .error {
                color: rgb(179, 26, 26);
                font-weight: 500;
                animation: hidden 4s forwards;
            }

        }
        .reseaux-links {
            width: 40%; 
            @media screen and (max-width:700px) {
                width: 100%;
            }
            box-sizing: border-box;
            padding: 20px;
            img[alt='reseaux']{
                background-color: #1f1c1c;
                border-radius: 100%;
                padding: 5px;
                height: 30px;
                margin-right: 10px;
            }
        }
        /****************/
        h2 {
            display: flex;
            font-size: 24px;
            margin: 0;
            color: #363333;
            }
        img[alt='fleche'] {
            max-width: 30px;
            max-height: 30px;
            height: auto;
            margin-right: 10px;
        }
        a {
            all: unset;
            padding-left: 30px;
            margin: 10px;
            display: flex;
            align-items: center;
            &:hover {
                font-weight: bold;
                background-color: #1f1c1c;
                color: white;
                border-radius: 5px;
            }
        }
        p {
            padding-left: 30px;
        }
    }
}
/*******************************/
@keyframes hidden {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}