.container {
    min-height: calc(100vh - 530px);
    box-sizing: border-box;
    .account {
        width: min(100vw, 1600px);
        button {
            all: unset;
            color: rgb(216,16,86);
            border: 1px solid rgb(216,16,86);
            padding: 5px 15px;
            border-radius: 25px;
            margin-left: 50px;
            @media screen and (max-width:700px) {
                margin: 10px auto 0;
            }
            display: block;
            &:hover {
                color: white;
                background-color: rgb(216,16,86);
            }
        }
        .welkom {
            text-align: center;
            padding: 20px;
        }
        .details {
            display: flex; flex-wrap: wrap;
            width: 100%;
            app-delivery {
                width: 30%;
            }   
            app-orders {
                width: 70%;
            }
            
            @media screen and (max-width:700px) {
                app-orders, app-delivery {
                    width: 100%;
                }
            }
        }
        .noLoggin {
            display: flex; align-items: center; justify-content: center;
            height: calc(100vh - 530px);
            button {
                padding: 20px; box-sizing: border-box;
                font-size: 30px;
                @media screen and (max-width:700px) {
                    font-size: 20px;
                    width: 90vw;
                }
                display: flex; align-items: center; justify-content: center;
                img {
                    height: 30px;
                    width: 30px;
                    margin-left: 30px;
                }
            }
        }
    }
}