<div class="container">
    <div class="shoppingCart" *ngIf="panier$ | async">
        <div *ngIf="(panier$|async)?.length">
            <div class="header">
                <h1>{{ "shopping-carth1" | translate }}</h1>
                <div routerLink="/collection">
                    {{ "poursuivre" | translate }}
                </div>
            </div>

            <div class="titres">
                <div class="prod">{{"produit"|translate}}</div>
                <div class="qte">{{"qte"|translate}}</div>
                <div class="tot">{{"total"|translate}}</div>
            </div>

            <div class="produits">
                <div class="produit" *ngFor="let produit of panier$ | async; let i = index;">
                    <div class="image" (click)="navig(produit.plante)">
                        <img [src]="'assets/PHOTOS/'+ produit.plante.image" alt="photo plante">
                    </div>
                    <div class="blocInfos">
                         <div class="nom">
                            {{produit.plante.genre | uppercase}} {{produit.plante.espece | titlecase}}
                            <br>
                            <span *ngIf="!produit.plante.gift" class="tiny">({{produit.option | translate}})</span>
                        </div>
                        <div class="qte">
                            <div class="setQte">
                                <div class="plus" 
                                [class.grise]="produit.qte < 2"
                                (click)="produit.qte > 1 && setQte(-1,i)">
                                    -
                                </div>
                                <div>{{produit.qte}}</div>
                                <div class="plus" 
                                [class.grise]="produit.qte >= produit.plante.stock[produit.option]!.dispo"
                                (click)="produit.qte < produit.plante.stock[produit.option]!.dispo && setQte(1,i)">
                                    +
                                </div>
                            </div>
                            <div class="trash" (click)="trash(produit)">
                                <img src="assets/icons/trash.svg" alt="trash">
                            </div>
                        </div>
                        <div class="tot">
                            {{ produit.soustotal | virgule }} €
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="totaux">
                <div>Total <sup>TTC</sup> {{total | virgule}} €</div>
                <div class="tiny">
                    {{"frais-port"|translate}}
                </div>
                <div class="buybutton" (click)="goPayment()">
                    {{"payer"|translate|uppercase}}
                </div>
            </div>
        </div>
        <div *ngIf="!(panier$|async)?.length" class="vide">
            {{"no-panier" | translate}}
        </div>
    </div>
</div>