<div class="container">
    <div class="collection">
        <div class="filtre">
            <div class="par-genre">
                <label for="genre">Filtrer par genre :</label>
                <select [(ngModel)]="genreChoisi" (change)="triage()" id="genre">
                    <option *ngFor="let genre of genres" [value]="genre">{{genre | titlecase }} </option>
                </select>

            </div>

            <div class="tri">
                <label for="tri">Trier par :</label>
                <select [(ngModel)]="triChoisi" (change)="triage()" id="tri">
                    <option *ngFor="let tri of tris" [value]="tri">{{tri}}</option>
                </select>
            </div>
        </div>
        
        <div class="liste">
            <div class="case" *ngFor="let plante of plantes; let i = index" >
                <div class="vendu" *ngIf="!plante.stock?.p?.dispo">EN RUPTURE</div>
                <img [src]="'assets/icons/coeur-'+ plante.coeur +'.svg'" alt="coeur" (click)="toogleFav(plante.image, plante.coeur, i)">
                <div class="cadre">
                    <img [src]="'assets/PHOTOSWEBP/' + plante.image" alt="plante" (click)="navig(plante)">
                </div>
                <div class="genre">{{ plante.genre | uppercase }} <div>
                <div class="espece">{{ plante.espece | titlecase }}</div>
                <div class="prix">€ {{ plante.stock.p.prix | virgule }}</div>
            </div>
        </div>
    </div>
</div>