.container {
    background-color: #363333;
    color: white;

    .footer {
        display: flex;
        flex-wrap: wrap;
        > div {
            box-sizing: border-box;
            padding: 10px;
            width: 33%;
            flex-direction: column;
            text-align: center;

            img {
               height: 50px;
               width: 376px;
               aspect-ratio: 7.52;
            }

            .links {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .main {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
        }
        .trois {
            div:not(.main):hover {
                text-decoration: underline;
            }
        }
        
        @media screen and (max-width: 700px) {
           .deux, .trois {
                box-sizing: border-box;
                width: 50%;
                > div:not(.main):hover {
                    text-decoration: underline;
                }
            }
            .un {
                box-sizing: border-box;
                width: 100%;
                border-bottom: white 1px solid;
            }
        }
    }

}