.container {
    background-image: url(/assets/fonds/fond-graphique-pink2.webp);
    background-repeat: repeat;
    background-size: contain;
    padding: min(5vw, 20px);
    box-sizing: border-box;
    .slogan {
        width: min(90vw, 1400px);
        background-color: white;
        padding: 20px; box-sizing: border-box;
        border-radius: 25px;
        text-align: center;
        > div:first-child {
            text-transform: uppercase;
            font-size: 30px;
            font-weight: bold;
        }
        > div:nth-child(2) {
            font-size: 20px;
        }
        > div:nth-child(3) {
            font-size: 27px;
            margin-bottom: 20px; box-sizing: border-box;
        }
        > div {
            @media screen and (max-width: 700px) {
               font-size: 16px !important;
            }
        }
        .logos {
            display: flex; flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(216,16,86,0.1);
                border-radius: 15px;
                padding: 15px; box-sizing: border-box;
                img {
                    height: 30px;
                    width: 30px;
                    margin-bottom: 15px;
                }
                @media screen and (max-width: 700px) {
                    width: calc(40vw - 20px);
                }
            }
        }
        em {
            @media screen and (max-width: 700px) {
                display: none;
            }
        }
    }
}