<div class="container">
    <div class="slogan">
        <div>
            {{ "slogan1" | translate }}
        </div>
        <div>
            ({{ "slogan2" | translate }})
        </div>
        <div>
           <em>- - -</em>{{ "slogan3" | translate }} <em>- - -</em>
        </div>
        <div class="logos">
            <div>
                <img src="assets/icons/paiement-secure.svg" alt="logo">
                {{ "paiement-secure" | translate }}
            </div>
            <div>
                <img src="assets/icons/livraison-rapide.svg" alt="logo">
                {{ "livraison-rapide" | translate }}
            </div>
            <div>
                <img src="assets/icons/emballage-adapte.svg" alt="logo">
                {{ "emballage-adapte" | translate }}
            </div>
            <div>
                <img src="assets/icons/service-client.svg" alt="logo">
                {{ "service-client" | translate }}
            </div>
        </div>

    </div>
</div>