<div class="orders">
    <h1>{{'histo-commandes' | translate }}</h1>
    <div class="liste" *ngIf="orders?.length else noHisto">
        <div class="case" *ngFor="let ord of orders; let i = index;">
            <div class="resume">
                <div class="date">{{ord.date | date }}</div>
                <div class="montant">€ {{ord.total | virgule}} EUR</div>
                <div class="etat">{{ord.etat | translate }}</div>
                <div class="masquer" *ngIf="detailsVisible !== i" (click)="detailsVisible = i">
                    <img src="assets/icons/loupe+.svg" alt="icon loupe">
                </div>
                <div class="masquer" *ngIf="detailsVisible === i" (click)="detailsVisible = -1">
                    <img src="assets/icons/loupe-.svg" alt="icon loupe">
                </div>
            </div>
            
            <div class="details" *ngIf="detailsVisible === i">
                <div class="detailOrder" *ngFor="let ligne of ord.panier">
                    <div>
                        <img [src]="'assets/PHOTOSWEBP/' + ligne.plante.image" alt="miniature">
                    </div>
                    <div>
                        <span class="bold">{{ligne.plante.genre | uppercase}}</span>
                        <br>
                        {{ligne.plante.espece | titlecase}} 
                        <br>
                        <span class="tiny">({{ligne.option | translate}})</span>
                    </div>
                    <div class="montantDetail">
                        <div>{{ligne.plante.stock.p.prix }}</div>
                        <div>x {{ligne.qte}}</div>
                        <div>= {{ligne.soustotal}} €</div>
                    </div>
                </div>
                <div class="total">
                    TOTAL : EUR {{ord.total | virgule}}€
                </div>
                <div class="envoi">
                    {{'sent-to' | translate }}:
                    <div class="adresse">
                        {{ord.adresse.prenom |titlecase }} {{ord.adresse.nom | uppercase}} <br>
                        {{ord.adresse.adres}} <br>
                        {{ord.adresse.compl}} <br *ngIf="!!ord.adresse.compl">
                        {{ord.adresse.cp}} {{ord.adresse.ville | uppercase}} <br>
                        {{ord.adresse.country | uppercase}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template class="vide" #noHisto>
        <div class="vide">
            {{"no-histo" | translate | uppercase}}
        </div>
    </ng-template>
</div>