<div class="container">
    <div class="home">

    </div>
</div>


<!--
    "homeh1":"La pépinière",
    "home-p":"Chez Succulent Castle, notre mission est simple : apporter de la beauté dans vos foyers grâce à des êtres vivants aussi discrets qu’extraordinaires. Avec leurs couleurs vives, leurs formes originales et leur étonnante capacité à prospérer avec si peu, les succulentes sont le symbole parfait de la résilience — encore elle, toujours elle. Pour cultiver cette magie, j’ai parcouru le monde : de la Californie à l’Alabama, en passant par la Suède, l’Italie, le Portugal ou encore l’Espagne. À partir de graines soigneusement sélectionnées, j’ai recréé de nouvelles souches, uniques, robustes et prêtes à illuminer vos intérieurs d’une touche de nature et de poésie.",
-->