<div class="container">
    <div class="payment" *ngIf="!!user">
        <div class="top">
            <div>
                {{"account-h1" | translate }} : {{user.email}}
            </div>
            <button (click)="goPanier()">
                {{ "back-panier" | translate }}
            </button>
        </div>
        <div id="xxx">
            <div class="livr-paym">
                <div class="livr">
                    <app-delivery 
                    [address2]="address"
                    (countrySelect)="calculFraisEnvoi($event)"
                    ></app-delivery>
                </div>
                <div class="stripe">
                    <h1>{{ "paymenth1" | translate }}</h1>
                    <p>{{ "payment-p" | translate }}</p>
                    <button [class.inactif]="boutonPayerInactif" (click)="goStripe()">{{'payer'|translate}}</button>
                </div>
            </div>
            <div class="recap">
                <h1>{{"recap-h1" | translate }}</h1>
                <div class="panier" *ngFor="let p of panier$ | async">
                    <img [src] ="'assets/PHOTOS/' + p.plante.image" alt="miniature">
                    <div class="names">
                        <div>{{p.plante.genre}}</div>
                        <div>{{p.plante.espece | titlecase}}</div>
                        <div class="tiny" *ngIf="!p.plante.gift">({{ p.option | translate }})</div>
                        <div>x {{p.qte}} </div>
                    </div>
                </div>
                <div class="code">
                    <input type="text" [(ngModel)]="bonReduc"
                    [placeholder]="'bon-gift' | translate">
                    <button 
                    (click)="applyReduc()">{{ 'apply' | translate }}</button>
                </div>
                <div class="soustot">
                    {{'sous-tot' | translate :  {n : panierLength } }} : {{soustot | virgule}} €
                </div>
                <div class="expedition tiny">
                    {{ 'expedition' | translate }} 
                    <button>?</button>
                    <span *ngIf="fraisLivr">{{fraisLivr | virgule }} €</span>
                </div>
                <div class="total-final">
                    TOTAL : EUR {{tot | virgule}} €
                </div>
                <div class="tva tiny">
                    ({{ "tva-incluse" | translate : {n: tva } }})
                </div>
            </div> 
        </div>
    </div>
</div>