.container {
    min-height: calc(100vh - 530px);
    box-sizing: border-box;
    ::ng-deep h1 {
        text-align: left;
        width: 100%;
    }
    .payment {
        width: min(100vw, 1500px);
        > div {
            display: flex; justify-content: center; gap: 50px;
        }
        .top {
            height: 80px; width: 100%;
            padding: 0 10px;
            display: flex; justify-content: space-between; align-items: center;
            button {
                all: unset;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        #xxx {
            @media screen and (max-width: 700px) {
                display: flex; flex-direction: column; gap: 0;
            }
            
            .livr-paym {
                background-color: rgba(0,0,0,0.04);
                border-radius: 20px;
                padding: 10px;
                .livr {
                }
                .stripe {
                    button{
                        all: unset;
                        color: white;
                        background-color: rgb(216,16,86);
                        border-radius: 25px;
                        padding: 10px 20px;
                        display: block;
                        margin: 10px auto;
                        &:hover:not(.inactif) {
                            font-weight: bold;
                        }
                        &.inactif {
                            background-color: rgba(216,16,86,0.3);
                        }
                    }
                }
            }
            .recap {
                display: flex; flex-direction: column; align-items: end;
                .panier {
                    display: flex; align-items: center; justify-content: space-between;
                    width: 450px;
                    img[alt='miniature'] {
                        height: 150px;
                        border-radius: 10px;
                        margin-right: 10px;
                    }
                } 
                @media screen and (max-width:700px) {
                    align-items: center;
                    padding: 0 20px;
                    .panier {
                        width: 100%;
                    }
                }
                .code {
                    width: 550px;
                    font-size: 20px;
                    @media screen and (max-width:700px) {
                        width: 100%; 
                        font-size: 15px;
                    }
                    input, button {
                        all: unset;
                        border: 1px solid rgb(216,16,86);
                        padding: 5px;
                        border-radius: 4px;
                        text-align: center;
                    }
                    input{
                        width: min(330px, calc(100vw - 138px));
                    }
                    button {
                        color: white;
                        background-color: rgb(216,16,86);
                        margin-left: 5px;
                    }
                }
                .expedition {
                    button {
                        margin: 0 5px;
                    }
                }
                div {
                    text-align: right;
                    margin: 10px 0;
                }
                .total-final {
                    color: white;
                    background-color: rgb(216,16,86);
                    padding: 5px 15px;
                    border-radius: 4px;
                }
            }
        }
       
    }
}