@font-face {
    font-family: "fredoka";
    src: url("../assets/fonts/fredoka.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);//100vh;
    position: fixed;//absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-size: 24px;
    font-family: 'fredoka', sans-serif;
    @media screen and (max-width: 700px) {
        font-size: 18px;
    }
}
::-webkit-scrollbar {
    display: none;
}
::ng-deep div {
    box-sizing: border-box;
}
::ng-deep .container > div:first-child {
    width: min(100vw, 1200px);
    margin: auto;
}
::ng-deep h1 {
    all: unset;
    font-size: 32px; font-weight: 650;
    display: block; text-align: center;
    margin: 30px 10px; box-sizing: border-box;
    @media screen and (max-width: 700px) {
        font-size: 25px;
    }
}
::ng-deep h2 {
    all: unset;
    font-size: 28px; font-weight: 600;
    display: block;
    margin: 30px 10px 0; box-sizing: border-box;
    @media screen and (max-width: 700px) {
        font-size: 23px;
    }
}

::ng-deep h2 {
    all: unset;
    font-size: 26px; font-weight: 500;
    display: block;
    margin: 0 10px; box-sizing: border-box;
    @media screen and (max-width: 700px) {
        font-size: 21px;
    }
}
::ng-deep .bold {
    font-weight: bold;
}
::ng-deep .tiny {
    font-size: 18px;
    @media screen and (max-width: 700px) {
        font-size: 16px;
    }
}

