.container {
    min-height: calc(100vh - 530px);
    box-sizing: border-box;

    .faq {
        .qr {
            .q {
                display: flex;
                justify-content: space-between;
                background-color: #363333;
                padding: 10px; box-sizing: border-box;
                margin: 20px 10px;
                color: white;

                .plus {
                    font-weight: bolder;
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    display: flex; align-items: center; justify-content: center; padding: 0; margin: 0;
                    @media screen and (min-width:701px) {
                        &:hover {
                            background-color: rgba(255,255,255,0.3);
                        }
                    }
                }
            }
            .r {
                background-color: rgba(255,255,255,0.1);
                padding: 10px; box-sizing: border-box;
            }
        }
    }
}