.container {
    .success {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;

        button {
            all: unset;
            padding: 15px;
            color: white;
            background-color: rgb(216,16,86);
            border-radius: 30px;
            &:hover {
                font-weight: bold;
            }
        }
    }
}