.adresse {
    width: fit-content;
    margin: auto;
}

form {
    .rubrik {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        label {
            width: 40%;
        }
        input {
            all: unset;
            width: 60%;
            background-color: rgba(0,0,0,0.06);
            border-radius: 5px;
            padding: 5px 10px;
            &#nom, &#country, &#ville {
                text-transform: uppercase;
            }
            &#prenom {
                text-transform: capitalize;
            }
        }
    }
    .error {
        color: rgb(216,16,86);
    }
}
button {
    all: unset;
    display: block;
    margin: 20px auto;
    padding: 5px 15px;
    background-color: rgb(216,16,86);
    color: white;
    border-radius: 25px;
    &:hover {
        font-weight: bold;
    }
}