<div class="container">
    <div class="description">
        <div class="photo">
            <div class="main">
                <img [src]="'assets/icons/coeur-'+ couleur +'.svg'" alt="coeur" (click)="toogleCoeur()">
                <img [src]="'assets/PHOTOS/'+ plante.image" alt="image de la plante">
            </div>
            <div class="carroussel"></div>
        </div>
        <div class="buybox">
            <div class="title">
                <div class="genre bold">{{plante.genre | uppercase }}</div>
                <div class="esp">{{plante.espece | titlecase }}</div>
            </div>
            <div class="tarif">
                {{plante.stock.p.prix | virgule }} € EUR
                <div class="tva tiny">{{ 'taxes-frais' | translate }}</div>
            </div>
            <div class="option">
                <div class="tiny">{{"option"|translate}}</div>
                <div (click)="optionsVisibles = true" *ngIf="!optionsVisibles" class="defaultChevron">
                    {{ optionChoisie | translate }}
                    <img src="assets/icons/chevron-bottom.svg" alt="chevron">
                </div>
                <div *ngIf="optionsVisibles" class="listeOptions">
                    <div *ngFor="let option of options; let i = index;" (click)="choisirOption(i)">
                        {{option | translate}}
                    </div>
                </div>
            </div>
            <div class="qte">
                <div class="tiny">{{"qte"|translate}}</div>
                <div class="setQte">
                    <div class="plus" [class.grise]="qte < 2" (click)="setQte(-1)">-</div>
                    <div>{{qte}}</div>
                    <div class="plus" (click)="setQte(1)">+</div>
                </div>
            </div>
            <div class="addPanier">
                <button (click)="addPanier()">
                    {{ 'add-panier' | translate }}
                </button>
            </div>
            <div class="share" (click)="sharing = true">
                <img src="assets/icons/share.svg" alt="partager">
                {{ "share" | translate }}
            </div>
            <div class="share" *ngIf="sharing">
                <img src="assets/icons/copypaste.svg" alt="icons-share" (click)="copypaste()"> {{"copy-paste" | translate}}
            </div>
            <div class="share" *ngIf="sharing">
                <a href="whatsappLink" target="_blank" rel="noopener noreferrer"><img src="assets/icons/whatsapp.svg" alt="icons-share">{{"share-whatsapp" | translate}}</a>
            </div>
        </div>
    </div>
</div>
