<div class="container">
    <div class="collection">
        <h1>{{ 'favoritesh1' | translate }}</h1>
        <div class="liste" *ngIf="(plantes.length || gifts.length) else noFav">
            <div class="case" *ngFor="let g of gifts">
                <div class="vendu" *ngIf="!g.stock.p.dispo">EN RUPTURE</div>
                <img src="assets/icons/coeur-pink.svg" alt="coeur" (click)="removeFav(g.image)">
                <img [src]="'assets/PHOTOS/' + g.image" alt="plante" (click)="navig(g)">
                <div class="genre">{{ g.genre | uppercase }} </div>
                <div class="espece">{{ g.espece }}</div>
                <div class="prix">€ {{ g.stock.p.prix | virgule }}</div>
            </div>
            <div class="case" *ngFor="let plante of plantes">
                <div class="vendu" *ngIf="!plante.stock.p.dispo">EN RUPTURE</div>
                <img src="assets/icons/coeur-pink.svg" alt="coeur" (click)="removeFav(plante.image, 'plantes')">
                <img [src]="'assets/PHOTOS/' + plante.image" alt="plante" (click)="navig(plante)">
                <div class="genre">{{ plante.genre | uppercase }} </div>
                <div class="espece">{{ plante.espece }}</div>
                <div class="prix">€ {{ plante.stock.p.prix | virgule }}</div>
            </div>
        </div>
        <ng-template class="vide" #noFav>
            <div class="vide">
                {{"no-favoris" | translate | uppercase}}
            </div>
        </ng-template>
    </div>
</div>